---
layout: splash
author_profile: false
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/header_beachSurvey.png
  # actions:
  # - label: "<i class='fas fa-download'></i> Install now"
  #    url: "/docs/quick-start-guide/"
excerpt: >
  A website for ecological and evolutionary themed K-12 learning
feature_row:
  - image_path: /assets/images/activities/nonGeneticInheritance_thumb.png
    alt: "Activities"
    title: "Activities"
    excerpt: "Try our ecological and evolutionary themed activities!"
    url: "/activities/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/workshop/workshop_thumb.png
    alt: "Workshops"
    title: "Workshops"
    excerpt: "Check out our annual workshop on evolution in marine systems for high school students."
    url: "/workshopHome/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/portraits/Lotterhos3.png
    alt: "The Scientists"
    title: "The Scientists"
    excerpt: "Meet the scientists that created these activities!"
    url: "/scientists/"
    btn_class: "btn--primary"
    btn_label: "Learn more"

gallery:
  - url: https://sites.google.com/site/katielotterhos/home?authuser=0
    image_path: assets/images/icons/lotterhoslab.png
    alt: "placeholder image 1"
  - url: /assets/images/icons/nsf.png
    image_path: assets/images/icons/nsf.png
    alt: "placeholder image 2"
  - url: /assets/images/icons/NUicon.jpg
    image_path: assets/images/icons/NUicon.jpg
    alt: "placeholder image 3"      
---

{% include feature_row %}

<center> <h1>heading 1</h1> </center>

{% include gallery %}